autopep8==1.5.7
boto3==1.17.83
boto3-stubs==1.17.103
botocore==1.20.109
certifi==2020.12.5
chardet==4.0.0
docutils==0.17.1
idna==3.1
jmespath==0.10.0
mypy==0.812
mypy-boto3==1.17.102.post1
mypy-boto3-cloudwatch==1.17.84
mypy-extensions==0.4.3
pycodestyle==2.7.0
python-dateutil==2.8.1
requests==2.25.1
s3transfer==0.4.2
six==1.16.0
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.5
